* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
:root {
  --clr-bg: #fcfcfc;
  --clr-bg-two: #ccc5b9;
  --clr-bg-alt: #fff;
  --clr-fg: #555;
  --clr-fg-two: #252422;
  --clr-fg-alt: #444;
  --clr-primary: #eb5e28;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --gradient: linear-gradient(45deg, #fe6716, #f13601);
  //   --clr-bg: #fcfcfc;
  //   --clr-bg-alt: #fff;
  //   --clr-fg: #555;
  //   --clr-fg-alt: #444;
  //   --clr-primary: #2978b5;
  //   --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--clr-fg-alt);
}
.btn {
  border: solid var(--clr-primary);
}
a {
  text-decoration: none;
}
body {
  background-color: var(--clr-bg);
}
.navbar {
  background-color: var(--clr-bg-alt);
  .navbar-brand {
    font-weight: 800;
    color: var(--clr-primary);

    font-size: 24px;
    &:hover,
    &:focus {
      color: var(--clr-primary);
    }
    @media (min-width: 576px) {
      font-size: 24px;
    }
  }

  .navbar-nav {
    color: var(--clr-fg-alt);
    text-align: center;
    font-weight: bold;
    li {
      font-size: 18px;
      width: 130px;
      margin: auto;
      padding: 10px 0;
      @media (min-width: 576px) {
        padding: 0px;
        width: auto;
        margin: 0;
      }
      &:not(:last-of-type) {
        border-bottom: solid 1px var(--clr-fg);
        @media (min-width: 576px) {
          margin: auto;
          border-bottom: 0;
        }
      }
    }
  }
}

.hero {
  h1 {
    color: var(--clr-fg-alt);
    font-weight: 700;
    font-size: 42px;
    @media (min-width: 576px) {
      font-size: 55px;
    }
    span {
      color: var(--clr-primary);
    }
  }
  h2 {
    color: var(--clr-fg-alt);
    font-weight: 700;
    font-size: 30px;
    margin: 50px 0;
    &::after {
      content: "";
      width: 320px;
      bottom: -10px;
      background-color: var(--clr-primary);
      height: 3px;
      position: relative;
      display: block;
    }
    @media (min-width: 576px) {
      margin: 50px auto;
      width: fit-content;
    }
  }
  p {
    color: var(--clr-fg);
    max-width: 600px;
    margin: auto;
    font-size: 18px;
  }
  .hero-contact {
    .btn {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background: var(--gradient);
        transition: transform 0.3s ease-in-out;
        transform: scaleX(0);
        transform-origin: left;
      }
      &:hover {
        color: white !important;
        &:before {
          transform: scaleX(1);
        }
        svg {
          color: white;
        }
      }
      svg {
        font-size: 27px;
      }
    }
  }
}

.projects {
  background-color: var(--clr-bg-alt);
  padding-bottom: 25px;
  .project-card {
    min-width: 350px !important;
    padding: 20px;
    box-shadow: var(--shadow);
    transition: 0.3s all ease;
    background-color: var(--clr-bg);

    ul {
      li {
        font-weight: bold;
        &.html {
          color: #e34c26;
        }
        &.css {
          color: #264de4;
        }
        &.js {
          color: #f0db4f;
        }
        &.scss {
          color: #cc6699;
        }
        &.react {
          color: #61dbfb;
        }
        &.redux {
          color: #764abc;
        }
        &.ts {
          color: #007acc;
        }
        &.bootstrap {
          color: #602c50;
        }
      }
    }

    .btn {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: -1px;
        right: 0;
        z-index: -1;
        background: var(--gradient);
        transition: transform 0.3s ease-in-out;
        transform: scaleX(0);
        transform-origin: left;
      }
      &:hover {
        color: white !important;
        &:before {
          transform: scaleX(1);
        }
        svg {
          color: white;
        }
      }
      svg {
        font-size: 30px;
      }
    }
    &:hover {
      transform: translatey(-10px);
    }
    h5 {
      font-weight: bold;
    }
    p {
      text-align: center;
    }
  }
}

.heading {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.skills {
  padding-bottom: 50px;
  h2 {
    font-weight: 700;
    padding-top: 25px;
    font-size: 40px;
  }
  .skills-box {
    max-width: 600px;
    margin: auto;
    .skill {
      gap: 15px;
      border: solid 2px orangered;
      padding: 5px 10px;
      margin: 10px;
      transition: all 0.3s;
      &:hover {
        transform: translateY(-10px);
      }
    }
  }
}

//
/* SKILLS FADE: fade out skills around a hovered item */

.skills-box {
  visibility: hidden;
}

.skills-box > * {
  visibility: visible;
}

.skills-box > * {
  transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}

.skills-box:hover > * {
  opacity: 0.4;
  transform: scale(0.9);
}

.skills-box > *:hover {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0ms, 0ms;
}

//

.contact {
  @media (min-width: 576px) {
    padding-bottom: 50px;
  }
  .contact-info {
    box-shadow: var(--shadow);
    padding: 20px;
    @media (min-width: 576px) {
      border-radius: 8px 0 0 8px;
    }
    h3 {
      font-weight: 700;
    }
    p {
      max-width: 400px;
      padding-bottom: 10px;
    }
    a {
      color: var(--clr-fg);
    }
    .social {
      margin: 20px 0;
      padding-top: 10px;
      max-width: 400px;
      svg {
        margin: 10px;
        font-size: 30px;
        color: white;
        background: var(--gradient);
        padding: 10px;
        border-radius: 8px;
      }
    }
  }
  form {
    box-shadow: var(--shadow);
    padding: 20px;
    background: var(--gradient);
    @media (min-width: 576px) {
      border-radius: 0 8px 8px 0;
    }

    label {
      color: white;
      font-weight: bold;
      font-size: 18px;
    }
    input,
    textarea {
      font-size: 17px;
      background: none;
      color: white;
      font-weight: 600;
      border: none;
      padding: 10px 0;
      margin: 10px 0;
      outline: none;
      border-bottom: solid var(--clr-bg-two) 1px;
      &::placeholder {
        color: rgba(255, 255, 255, 0.514);
      }
    }
    textarea {
      max-height: 100px;
    }
    .btn {
      width: 200px;
      margin: auto;
      font-weight: 600;
      border-radius: 0;
      border: none;
      background-color: white;
      border-radius: 4px;
      color: var(--clr-primary);
      z-index: 1;
    }
  }
}

header {
  padding: 20px 0;
  background-color: #eee;

  p {
    margin: 0;
    font-size: 14px;
    @media (min-width: 576px) {
      font-size: 17px;
    }
    span {
      color: var(--clr-primary);
      font-weight: bold;
    }
  }
}
